/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
#header .header-nav {
max-height: 0px;
margin-top:0em;
}

#wrapper {
background: white;

}

#carousel {
  height: 100%;
}

div#carousel.carousel.slide{
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -9px;
  height: 100%;
  margin-bottom: 0rem; 
}

#header .header-top{
  padding-bottom: 0px;
    z-index: 200;
    background: #ffc0cb;
    width: 100%;
}

section#wrapper{
  padding-top: 0.563rem;
}

.carousel .carousel-inner {
    height: 100%;
}
#header .header-nav{
  margin-bottom: 0;
}

.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
 
.flex-child{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#header .header-top a[data-depth="0"]{
  text-transform: uppercase;
  font-size: 0.9rem;
  color: white;
}

div#custom-text{
  margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0rem;
    height: 100%;
}
.contenedor
  {
    width:500px;
    height:300px;
    line-height:300px;
    border:1px solid;
    text-align:center;
  }
  .contenedor>span {
    display:inline-block;
    vertical-align:middle;
    line-height:normal;
  }
#main .page-footer {
    margin-bottom: 0rem;
}

ul{
      margin-bottom: 0rem;
}

ul li a figure{
  margin-bottom: 0px;
}

.footer-container li a {
    color: #ffffff;
    cursor: pointer;
    font-size: .875rem;
}

.h3 {
    text-transform: uppercase;
    color: #ffffff;
}

.footer-container{
  background:pink;
}

.h3 a.text-uppercase{
  color: white;
}

#block_myaccount_infos .myaccount-title a{
  color: white;
}

.img-responsive, .thumbnail > img,
.thumbnail a > img{
	display: block;
	max-width: 100%;
	height: auto;
}


.encabezado{
	background: #ffc0cb;
	    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10pc; 
    padding-left: 20px;
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}

div#_desktop_top_menu.menu.col-lg-12.col-md-12.js-top-menu.position-static.hidden-sm-down{
	margin-top: -2px;
	margin-left: 0px;
  margin-bottom: -5px;
}

ul#top-menu.top-menu{
  text-align: center;
}

#header .header-top .menu>ul>li{
	float: none;
	display: inline-block;
}

img.logo.img-responsive{
	height: 60px;
}

li#cms-page-index.cms-page{
  vertical-align: middle;
}
.img-page:hover{
	transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-webkit-transform: scale(1.05, 1.05);
}
.img-page{
  margin-left: 25%;
}

@media (max-width: 991px){
  #header .logo {
    margin: auto;
    display:block;
  }
}

#home-logo{
	max-width: 300px;
	margin-bottom: 5px;
  margin-top: 0px;
}

h2{
	text-transform: uppercase;
	font-size: 2.6rem;
}

img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
  margin-right: auto;
  margin-left: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  
}
.thumbnail .caption {
  padding: 9px;
  color: #333;
}

#boton-home{
  margin-top: 15px;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.caption-page{
  margin-left: 37%;
}
